ion-toolbar, ion-text{
    --background: transparent;
    --ion-color-base: transparent !important;
}
.input{
    --background: var(--ion-color-step-100);
    border: .5px solid var(--ion-color-step-200);
    border-radius: 5px;
    box-sizing: border-box;
    padding: 0 3px;
    padding: 0;
}
.divider{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px 0;
    span{
        width: 100%;
        flex: 1 1;
        height: .5px;
        background: var(--ion-color-step-200);
        opacity: .6;
    }
    label{
        margin: 0 20px;
        color: var(--ion-color-step-500);
    }
}
:root{
    transition: all .5s;
}
ion-content,
ion-item,
ion-list-header{
    --background: var(--ion-background-color);
}
