<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>422311050429-p044lapn7kv3588rshngfg5ohi5kpp34.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.422311050429-p044lapn7kv3588rshngfg5ohi5kpp34</string>
	<key>API_KEY</key>
	<string>AIzaSyAHlz7sT8IsLL8bgiLoickspjvNaehbZmo</string>
	<key>GCM_SENDER_ID</key>
	<string>422311050429</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>bacan.app</string>
	<key>PROJECT_ID</key>
	<string>bacan-notifications</string>
	<key>STORAGE_BUCKET</key>
	<string>bacan-notifications.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:422311050429:ios:3b1ac39af0b8a2a7960bd4</string>
</dict>
</plist>