ion-modal {
  --width: 290px;
  --height:382px;
  --border-radius: 8px;
}
ion-datetime {
  height: auto;
  width: auto;
  max-width: 350px;
  border-radius: 8px;
}
ion-modal ion-datetime {
  height: 382px;
  --border-radius: 10px;
}
.show{
  animation: showConfirm 2s forwards;
}
.hide{
  animation: hide 1s forwards;
}
.form-item{
  animation: show .5s forwards;
}
.confirm{
  animation: showConfirm .5s forwards;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  ion-img{
    animation: show 1s forwards;
    width: 55%;
    max-width: 400px;
  }
  ion-button{
    animation: show 1s forwards;
  }
  ion-text{
    animation: show 1s forwards;
  }
}
ion-item{
  --background: var(--ion-background-color);
}
@keyframes show{
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to{
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes showConfirm{
  from {
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
@keyframes hide{
  from {
    opacity: 1;
  }
  to{
    opacity: 0;
  }
}

@keyframes slide-in-on{
  from{
    opacity: .2;
  }
  to{
    opacity: .7;
  }
}
