<ion-header class="ion-no-border">
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="form">
    <app-header title="SIGNUP"></app-header>
    <ion-list>
      <ion-item *ngFor="let input of inputList">
        <ion-label position="floating">{{input.placeholder}}</ion-label>
        <ion-input [formControlName]="input.formControlName" [placeholder]="input.placeholder" [type]="input.type">
        </ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-button slot="start" type="link" routerLink="/login" routerDirection="back" olor="primary" fill="clear"
          expand="block">
          Login
        </ion-button>
        <ion-button slot="end" type="button" color="primary" fill="clear" expand="block">
          Forgot Password?
        </ion-button>
      </ion-item>
      <ion-button (click)="onSubmit()" role="submit" [disabled]="!form.valid" class="submit-button" type="submit"
        color="primary" expand="block">
        Signup
      </ion-button>
    </ion-list>
  </form>

</ion-content>