<ion-header>
  <ion-toolbar>
    <ion-title>Update Password</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="user" color="danger" text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <ion-list>
      <ion-item (click)="itemTap()">
        <ion-label position="floating">New Password</ion-label>
        <ion-input formControlName="password" placeholder="New Password" type="password" name="password"></ion-input>
      </ion-item>
      <ion-item (click)="itemTap()">
        <ion-label position="floating">Repeat Password</ion-label>
        <ion-input appPasswordValidator formControlName="repeatPassword" placeholder="Repeat Password" type="password"
          name="password"></ion-input>
      </ion-item>
    </ion-list>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12">
          <ion-button size="small" [disabled]="!form.valid" type="submit" expand="block" color="danger">
            Reset
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

</ion-content>