.round-skeleton{
    --border-radius: 50%;
}
.button-skeleton{
    width: 90%;
    height: 1.5em;
    border-radius: 6px;
    margin:  16px auto;
}
ion-item{
    --background: var(--ion-background-color);
}