<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="bookings" (click)="vibrate()">
      <ion-icon name="today-outline"></ion-icon>
      <ion-label>Prenotazioni</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="book" (click)="vibrate()">
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-label>Prenota</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="map" (click)="vibrate()">
      <ion-icon name="map-outline"></ion-icon>
      <ion-label>Sedi</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="user" (click)="vibrate()">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Profilo</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
